native-extension/library/release*

native-extension/android/release*

native-extension/ios/TapForTapAir.xcodeproj/xcuserdata
native-extension/ios/TapForTapAir.xcodeproj/project.xcworkspace/*
native-extension/ios/build*
native-extension/ios/interim-release*
native-extension/ios/release/*

native-extension/ane/android*
native-extension/ane/ios*
native-extension/ane/ios-x86*
native-extension/ane/extension.xml
native-extension/ane/*.sw*
native-extension/ane/release*

native-extension/release*

test-app/.settings*
test-app/bin-debug*
test-app/build/TapForTapAirTest.app.*

test-app/build*
repos*
update_native_libraries*


